@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    box-sizing: border-box;
    border: none;
}

#login{
    padding: 20% 50%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #22B0FC;
}

/* .vetores {
    position: absolute;
  } */

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

/* NAVBAR */
.header .container {
    justify-content: space-between;
    /* border: 5px solid red; */
}

.header a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: black;
}


.titulo {
    width: fit-content;
    margin: 15px 0;
}

.titulo img {
    width: 11%;
}

.navbar li .btn-login {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #22B0FC;
    color: white;
    padding: 8px 30px 9px 30px;
    border-radius: 10px;
}

/* FIM NAVBAR */

/* FORM CADASTRO */
.banner {
    background-image: url(../assets/icon/vetor-cadastro.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position-y: 5vw;
    background-position-x: -10vw;
    height: 900px;
    color: #fff;
    display: flex;
    font-size: 17px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    width: auto;
    height: auto;
    border-radius: 25px;
    justify-self: center;
    fill: #fff;
    background-color: rgba(240, 248, 255, 0.596);
    -webkit-box-shadow: -2px 33px 64px 0px rgba(138, 138, 138, 1);
    -moz-box-shadow: -2px 33px 64px 0px rgba(138, 138, 138, 1);
    box-shadow: -2px 33px 64px 0px rgba(138, 138, 138, 1);
    flex-direction: column;
    margin: auto;
}

#logo {
    width: 200px;
    padding-top: 2vw;
    align-self: center;
}

.card p {
    color: #22B0FC;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin: 25px 100px;
}

.card .box {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 3vw;
    grid-template-columns: repeat(2,1fr);
}

.card input {
    display: flex;
    border: none;
    background-color: #F0F0F0;
    border-radius: 5px;
    height: 35px;
    width: 21rem;
    justify-content: space-around;
    padding: 5px;
    justify-items: center;
    margin: 10px;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin: auto;
}



.card .btn {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 12rem;
    border-radius: 12px;
    background-color: #22B0FC;
    cursor: pointer;
    color: #ffffff;
    align-self: center;
    margin: 25px;
}

.card .select{
    display: flex;
    border: none;
    background-color: #F0F0F0;
    border-radius: 5px;
    height: 35px;
    width: 21rem;
    justify-content: space-around;
    padding: 5px;
    justify-items: center;
    margin: 10px;
    color:rgb(72, 72, 72)
}
/* FIM BANNER */
