* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*body cobrindo 100% da tela  */
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #192329;
}

/*estilizando a navbar */

nav.side-menu {

  width: 80px;
  max-width: 80px;
  height: 100%;
  background-color: #63bae9;
  padding: 40px 0 40px 1%;
  box-shadow: 3px 0 0 #457f9e;
  /*criando uma linha na lateral da sidebar*/
  position: fixed;
  /*mantendo a sidebar fixa */
  top: 0;
  left: 0;
  overflow: hidden;
  /*escondendo o texto do menu */
  transition: 0.5s;
  background-image: url(/assets/icon/stabilis_side_white.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-y: 95%;

}

/*animação da sidebar ao passa o mouse */
nav.side-menu:hover {
  width: 250px;
  max-width: 250px;

}

/*estilizando a UL da side bar */
ul {
  height: 100%;
  list-style-type: none;
}

ul li.itens-menu {
  transition: 0.5s;
  /*definindo o delay da passada do mouse */
}


ul li.itens-menu:hover {
  background-color: #91ceee;
}

/*estilizando os li da  da side bar, todos itens do menu */
ul li.itens-menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  /*cima e baixo 20px e laterais 4% */
  margin-bottom: 20px;
  display: flex;
  line-height: 40px;
  /*alinhar texto*/
}

/*estilizando texto do menu*/
ul li.itens-menu a .txt {
  margin-left: 3rem;
}

/*Estilizando os icones da sidebar */
ul li.itens-menu a .icon>i {
  font-size: 30px;
}

/*estilizando tela principal*/

h1 {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

main {
  margin-left: 90px;

}

main .data {
  display: inline-block;
  background-color: #70c0ec;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 0.5rem;
  margin-left: 1.5rem;
}

main .data input[type="date"] {
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
}

main .columns-dash {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}


main .columns-dash>div {
  background-color: white;
  padding: 2.8rem;
  width: 400px;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 0 1rem 1rem #70c0ec;
  transition: 1s;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

main .columns-dash>div:hover {
  box-shadow: none;
}

/*estilizando KPI*/

.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.coluna-kpi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  width: 30vw;
<<<<<<< HEAD
  height: 15vh;
=======
  height: 25vh;
>>>>>>> 865fc37d36a9cb597dd40a3e8965a37f671970e4
  margin-left: 1.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #38383873;
  border-radius: 8px;
  background-color: #fff;
}

.coluna-kpi p {
  font-weight: bold;
}

.coluna-kpi p {
  font-size: 16px;
}


.card-perigo {
  background-color: rgba(255, 29, 29, 0.658);
  margin: 10px;
  width: 40%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-atencao {
  background-color: rgba(255, 238, 86, 0.822);
  margin: 10px;
  width: 40%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-estavel {
  background-color: rgba(110, 248, 110, 0.747);
  margin: 10px;
  width: 40%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*estilização lgenda KPI*/
.legenda-kpi {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  margin-top: 0.5rem;
  width: 20vw;
  height: 15vh;
  margin-right: 5%;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #7474747c;
  border-radius: 8px;
  background-color: #fff;

}

.kpi {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

#tempo-atividade {
  font-weight: bold;
}

.container-botao {
  box-shadow: 1px 3px 5px #424242;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
<<<<<<< HEAD
  margin-top: 30px;
  margin-left: 58%;
  height: 30%;
  margin-bottom: 3%;
=======
  margin-left: 58%;
  height: 30%;
  margin-bottom: 5%;
>>>>>>> 865fc37d36a9cb597dd40a3e8965a37f671970e4
  width: 32.3%;
  padding: 10px;
}

button {
  font-size: 15px;
  font-family: Arial;
  width: 139px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: rgba(74, 144, 226, 1);
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgba(104, 165, 236, 1);

}

span {
  font-size: 16px;
}

.dashboard {
  margin: auto;
  width: 80%;
<<<<<<< HEAD
  display: none;
  justify-content: space-between;
  margin-bottom: 25px;
  height: fit-content;
=======
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
>>>>>>> 865fc37d36a9cb597dd40a3e8965a37f671970e4
}

.status {
  margin-bottom: 10px;
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> 865fc37d36a9cb597dd40a3e8965a37f671970e4
}

.status #grafico4 {
  margin-bottom: 35px;
<<<<<<< HEAD
}

.status > p {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.graficos-linha {
  width: 50%;
}

.graficos-disco {
  width: 23% !important;
}

=======
}
>>>>>>> 865fc37d36a9cb597dd40a3e8965a37f671970e4
