@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


* {
  transition: all 0.3s ease-out;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

nav.side-menu {

  width: 80px;
  max-width: 80px;
  height: 100%;
  background-color: #63bae9;
  padding: 40px 40px 40px 5px;
  box-shadow: 3px 0 0 #457f9e;
  /*criando uma linha na lateral da sidebar*/
  position: fixed;
  /*mantendo a sidebar fixa */
  top: 0;
  left: 0;
  overflow: hidden;
  /*escondendo o texto do menu */
  transition: 0.5s;
  background-image: url(/assets/icon/stabilis_side_white.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-y: 95%;

}

/*animação da sidebar ao passa o mouse */
nav.side-menu:hover {
  width: 250px;
  max-width: 250px;

}

/*estilizando a UL da side bar */
ul {
  height: 100%;
  list-style-type: none;
}

ul li.itens-menu {
  transition: 0.5s;
  /*definindo o delay da passada do mouse */
}


ul li.itens-menu:hover {
  background-color: #91ceee;
}

/*estilizando os li da  da side bar, todos itens do menu */
ul li.itens-menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  /*cima e baixo 20px e laterais 4% */
  margin-bottom: 20px;
  display: flex;
  line-height: 40px;
  /*alinhar texto*/
}

/*estilizando texto do menu*/
ul li.itens-menu a .txt {
  margin-left: 3rem;
}

/*Estilizando os icones da sidebar */
ul li.itens-menu a .icon>i {
  font-size: 30px;
}

body {
  background-image: url(/site/public/assets/background/perfilUsuario.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.contanier{
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.usuario{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image{
  margin: 0 auto;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 1px solid #1FBEC4;
  display: inline-block;
  padding: 3px;
  border: 3px solid #63BAE9;
  margin-top: 20px;
  margin-right: 57px;
  margin-left: 57px;
  margin-bottom: 35px;

}
h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
  &.small {
    font-size: 14px;
  }
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #63BAE9;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}


.card3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  width: 225px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 30px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  -webkit-box-shadow: 0px -1px 19px 12px rgba(112,112,112,0.21);
  -moz-box-shadow: 0px -1px 19px 12px rgba(112,112,112,0.21);
  box-shadow: 0px -1px 19px 12px rgba(112,112,112,0.21);
  &:hover {
    border: 1px solid #63BAE9;
    z-index: 500;
  }
}

.search-container {
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 2px solid #D0CFCE;
  outline: none;

  &:focus {
    border: 2px solid #63BAE9;
    transition: 0.35s ease;
    color: #63BAE9;

    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }

    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }

    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}