@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
}

nav.side-menu {

  width: 80px;
  max-width: 80px;
  height: 100%;
  background-color: #63bae9;
  padding: 40px 40px 40px 5px;
  box-shadow: 3px 0 0 #457f9e;
  /*criando uma linha na lateral da sidebar*/
  position: fixed;
  /*mantendo a sidebar fixa */
  top: 0;
  left: 0;
  overflow: hidden;
  /*escondendo o texto do menu */
  transition: 0.5s;
  background-image: url(/assets/icon/stabilis_side_white.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-y: 95%;

}

/*animação da sidebar ao passa o mouse */
nav.side-menu:hover {
  width: 250px;
  max-width: 250px;

}

/*estilizando a UL da side bar */
ul {
  height: 100%;
  list-style-type: none;
}

ul li.itens-menu {
  transition: 0.5s;
  /*definindo o delay da passada do mouse */
}


ul li.itens-menu:hover {
  background-color: #91ceee;
}

/*estilizando os li da  da side bar, todos itens do menu */
ul li.itens-menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  /*cima e baixo 20px e laterais 4% */
  margin-bottom: 20px;
  display: flex;
  line-height: 40px;
  /*alinhar texto*/
}

/*estilizando texto do menu*/
ul li.itens-menu a .txt {
  margin-left: 3rem;
}

/*Estilizando os icones da sidebar */
ul li.itens-menu a .icon>i {
  font-size: 30px;
}

body {
  background-image: url(/site/public/assets/background/perfilUsuario.png);
  background-repeat: no-repeat;
  background-size: 100%;
}


.container {
  height: 800px;
  width: 80%;
  margin: auto;
  margin-left: 190px;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.opcoes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  margin-top: 5%;
}

.nomeusuario {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  font-weight: 300;
  font-size: 20px;
}

.textos {
  height: 50%;
  width: 100%;
  margin-left: 3%;
}

.caixa {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

.opcoes a {
  text-decoration: none;
  color: black;
}

.opcoes a:visited {
  color: black;
}

b {
  font-size: 30px;
  font-weight: 400;
  display: flex;
}

.avatar {
  margin-top: 5%;
  height: 250px;
  position: relative;
  width: 200px;
  border: #1FBEC4 5px solid;
  border-radius: 150%;
  -webkit-box-shadow: 3px 34px 75px -38px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 3px 34px 75px -38px rgba(0, 0, 0, 0.77);
  box-shadow: 3px 34px 75px -38px rgba(0, 0, 0, 0.77);
}

.avatar img {
  border-radius: 9999px;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

.search-container {
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 2px solid #D0CFCE;
  outline: none;

  &:focus {
    border: 2px solid #1FBEC4;
    transition: 0.35s ease;
    color: #1FBEC4;

    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }

    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }

    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}