@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.banner h1 {
    font-size: 32px;
    width: 50%;
}

.banner h2 {
    width: 50%;

    font-size: 32px;
    font-weight: normal;
    margin-bottom: 10px;
}

.banner {
    margin-top: 30px;
}
.texto-sobre-nos {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    width: 65%;
    text-align: justify;
    padding-left: 25px;
}

.texto-sobre-nos p {
    margin: 0;
    font-size: 15px;
}

.imagem-sobre-nos {
    /* border: 3px solid blue; */
    width: 30%;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
}

.imagem-sobre-nos img {
    width: 80%;
}

.retangulo-x {
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 389px;
    margin-left: 337px;
}

.retangulo-azul-x {
    position: absolute;
    margin-bottom: 300px;
    margin-left: 1000px;
}

.empresas {
    margin-top: 13%;
}

.container-foto .row{
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
}

.our-team {
    padding: 30px 30px 40px;
    margin-bottom: 30px;
    margin-left: 15px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .picture img{
    height: 70px;
    width: 70px;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  