@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.vetores {
  position: absolute;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header .container {
  justify-content: space-between;
  /* border: 5px solid red; */
}

.header a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: black;
}


.titulo {
  width: fit-content;
  margin: 15px 0;
}

.titulo img {
  width: 11%;
}

.navbar li .btn-login {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #22B0FC;
  color: white;
  padding: 8px 40px 9px 40px;
  border-radius: 10px;
}

/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 0 20px 0;
  margin: auto;
}

.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: space-around;
  align-items: center;
  /* border: 3px solid red; */
}

.tamanho-conteudo {
  height: fit-content !important;
}

.banner .texto-banner {
  width: 50%;
}

.banner p {
  font-size: 14px;
  width: 48%;
  text-align: justify;
}

.container .texto-banner .slogan {
  width: 60%;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
}

.foto-servidor {
  position: relative;
}

.circulo-servidor {
  position: absolute;
  margin-top: 224px;
  margin-left: 880px;
}

.retangulo-x-servidor {
  position: absolute;
  margin-bottom: 525px;
  margin-left: 200px;
}

.numeros {
  color: black;
}

.numeros .container {
  margin-left: 10.5%;
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.numeros p {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.numeros img {
  width: 15%;
}

.avaliacao {
  display: block;
}

.numeros .container p span {
  font-weight: 700;
  font-size: 32px;
}

.numero-avaliacao {
  margin-bottom: 100px;
}

/* empresas */

.empresas .container {
  display: block;
}

.empresas .container h3 {
  margin-bottom: 0;
  text-align: center;
}

.imagens-empresas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 10%;

}

.imagens-empresas2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 34%;
}

.produtividade .container {
  flex-direction: column;
  align-items: center;
}

.produtividade .container h1 {
  margin-bottom: 0;
  margin-top: 100px;
  font-weight: 600;
}

/* pilares */
.pilares {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pilares h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  margin: auto;
  display: flex;
  justify-content: center;
}

.valores {
  display: flex;
  justify-content: start;
  align-items: center;
}

.valores h3 {
  margin-left: 4px;
  color: white;
}

.box {
  width: 33.3%;
  margin-left: 30px;
  background-color: #D4CCCB;
  padding: 20px;
  border-radius: 30px;
}

.box:hover {
  transform: scale(1.03);
  transition: 0.2s;
  background-color: #a19c9c;
}

.box p {
  font-size: 14pt;
  color: white;
  width: 100%;
  margin: auto;
  text-align: justify;
  text-indent: 1.5em;
}


.icones {
  width: 10%;
  border: black;
}

.star {
  width: 10%;
  padding-bottom: 5px;
}

#azul {
  background-color: #74C4F0;
}

#verm {
  background-color: #F80606;
}

#amar {
  background-color: #FBD246;
}

/* cards */
.link-card {
  display: block;
  padding: 30px 20px;
  background-color: white;
  box-shadow: 1px 3px 5px;
  /* border: 5px solid red; */
  overflow: hidden;

  position: relative;
}

.link-card:hover,
.link-card:hover .data-card {
  text-decoration: none;
  /* color: #FFF; */
}

/* IMPORTANTE */
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}

.card {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}

.link-card:hover .bg_card {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.titulo-card {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #000;

  z-index: 2;
  position: relative;
}

.date-box-card {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.data-card {
  font-weight: bold;
  color: #0d2137;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

/* IMPORTANTE */
.bg-card {
  height: 128px;
  width: 128px;
  background-color: #0d2137;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/* fim cards */
/* missao visao valores */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FOOTER */

.footer {
  background-color: #1D293F;
  height: 25vw;
  color: #fff;
  display: flex;
  font-size: 17px;
  display: flex;
  justify-content: center;
}

.footer .container .text {
  margin-right: 13vw;
}

.footer .container a {
  color: #ffff;
  text-decoration: none;
}

.logo img {
  width: 15vw;
  margin-left: 10vw;
  margin-top: 2rem;
}

.sociais img {
  width: 3vw;
  padding: 2px;
}

/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: palevioletred;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 80%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}